* {
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
}

html, 
body {
  margin: 0.5rem;
  padding: 0.5rem;
  background: whitesmoke;
}

/* typography */ 

header p {
  font-family: "Roboto"; 
  font-size: 1.25rem;
  font-weight: 700;
}

nav {
  font-size: 1;
  font-weight: 600;
  margin-left: auto;    
}

nav a {
  text-decoration: none;
  color: black;
  margin-left: 2rem;
}

.news-link {
  color: white;
  text-decoration: none;
}

.news-featured {
  color: #ffffff;
  text-shadow: 0 1px black;
}

.date {
  font-size: 0.875rem;
  text-shadow: 0 1px black; 
}

.news-featured-title {
  font-size: 2rem;
  text-shadow: 0 1px black;
}

footer p {
  font-size: 0.75rem;
}

footer p:first-of-type {
  color: #ECECEC;
}

footer p:last-of-type {
  color: #D7D7D7;
}

/* layout */

body {
  max-width: 1280px;
  margin: 0 auto;
}

header {
  display: grid;
  grid-template: auto / 40px auto auto auto;
  align-items: center;
  margin: 0.2rem;
}

header img {
  grid-column: 1 / 2;
}

.my-links {
  grid-column: 4 / 4 
}

.news-featured,
.news-recent,
.news-display {
  padding: 1.5rem ;
}

p, h2, .news-recent img {
  margin: 0.4rem 0;
}

img {
  width: 1.25rem;
  align-items: center;
}

a:hover {
  opacity: 0.6;
  }

/* news */ 

.news-featured {
  background-image: url(images/homeworkplace.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: grid;
  align-content: flex-end;
  min-height: 65vh;
  margin-bottom: 1.2rem;
  border-radius: 0.125rem;
}

.news-featured-content {
  max-width: 650px;
  padding: 1.5rem;
}

.blogs-feed {
  display: grid;
  grid-template: 1fr 1fr / repeat(3, 1fr);
  grid-gap: 1rem;
  
}

.blogs-feed img {
  width: 100%;
  height: 55%;
  max-height: auto;
  object-fit: cover;
  border-radius: 1rem;
}


.view-more {
  margin: 0 auto;
  display: grid;
  grid-template: 1fr / 1fr; 
  height: 20%;
  width: 70%;
  place-items: center;
  font-weight: bold;
  
}
.linkedin-link {
  color: black;
  text-decoration: none;
}

footer {
  text-align: center;
  width: 100%;
  background-color: #202020;
  padding: 1.5rem;
  margin-top: 2rem;
}

/* news page */ 

.news-display p,
.news-display h1, 
.news-display h2 {
  margin-bottom: 1.5rem;
}

.featured-image {
  width: 100%;
  margin: 1.2rem 0;
  border-radius: 0.4rem;
}

.recent-posts {
  margin: 0 auto;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

/* About */

.about-intro {
  display: grid;
  grid-template: 100px / 150px 1fr;
  margin-bottom: 5rem;
}
.about-intro img {
  border-radius: 50%;
  width:100%;
  height: 150%;
  max-height: auto;
  object-fit: cover;
}

.about-intro p {
  grid-column: 2/2;
}

a .hidden {
  display: none;
}

.display {
  display: block;
}

/* Responsive */ 

@media (max-width: 768px) {
  .about-intro {
      grid-template: auto auto auto / 1fr;     
      margin-bottom: 0;  
  }
  
  .about-intro h1 {
  grid-column: 1;
  }

  .about-intro p {
      grid-column: 1;
  }
  .about-intro img {
    border-radius: 50%;
    width:50%;
    height: 100%;
    max-height: auto;
    justify-self: center;
      
  }

  
  /* Hide the links inside the navigation menu */
  .topnav .my-links {
  display: none;
  }


  .icon {
  padding: 14px 16px;
  text-decoration: none;
  }

  nav {
      padding-right: 3rem;
      text-align: right;
  }

  .topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  color:white;
  }
  
  a .hidden {
  display: block;
}
}

@media (min-width: 576px) and (max-width: 768px) {
  
  .blogs-feed {
      grid-template: 1fr / 1fr 1fr;
      }
      
  .stretch {
     grid-column: 1 / 3;
  }
  
  .news-featured {
      min-height: 40vh;
      }
      
  .news-featured-content {
      padding: 0;
  }
  .view-more {
    margin-top: 3rem;
  }
}

@media (max-width: 576px) {
  
  .news-featured {
      min-height: 0;
  }
  
  .news-featured-content {
      padding: 0;
      margin-top: 5rem;
  }
      
  .blogs-feed {
  grid-template: 1fr / 1fr;
  padding: 0.3rem;
  }
  
  .hidden {
      display: none;
  }
  
  .display {
      display: grid; 
  }
  .avatar {
    border-radius: 50%;
    width: 100%;
    height: 150%;
    max-height: auto;
    object-fit: cover;
  }
}

@media (min-width: 768px){
  .news-display p,
  .news-display h1, 
  .news-display h2 {
      padding: 0 4rem;
  }
  .view-more {
    margin-top: 3rem;
  }
}

@media (min-width: 1200px) {

  .news-featured {
      height: 80vh;
  }
}

@media (min-width: 1400px) {

  .news-featured {
      height: 90vh;
  }
}

